<h2>Welcome To FarmerSmart</h2>

<% @listings.each do |listing| %>
  <div class = "card">
    <h4><%= listing.title %></h4>
    <p>Price:<%=number_to_currency(listing.price)%></p>
    <p>Quantity:<%=listing.munit.name  %></p>
    <p>Category:<%=listing.category.name  %></p>
    </div>
    
 <% end %> 
