// Place all the styles related to the Listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-index img {
  width: 200px;
  height: 200px;
  background-size: cover;
}

.show-img img {
  width: 200px;
  height: 200px;
  background-size: cover;
}
.card-body-index {
  padding: 1.25rem;
}

.card-body-show {
  padding: 1.25rem;
}
